<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
             http://xmlns.jcp.org/xml/ns/javaee
             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <!--
  <context-param>
    <param-name>contextClass</param-name>
    <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
  </context-param>
  -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:/META-INF/spring/beans-security-in-memory.xml
    </param-value>
    <!--
    <param-value>
      classpath:/META-INF/spring/beans-security-jdbc.xml
      classpath:/META-INF/spring/beans-dataaccess-mock.xml
    </param-value>
    -->
    <!--
    <param-value>
      sample.security.config.SecurityConfigInMemory
    </param-value>
    -->
    <!--
    <param-value>
      sample.security.config.SecurityConfigJdbc
      sample.security.config.DataAccessMockConfig
    </param-value>
    -->
  </context-param>
  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
